<h1>Dice Roll </h1>

  <ul>
  <li><a href="https://glowing-giggle-pj76vq4p599gc55p-4567.app.github.dev/dice/2/10">2 times of 10 sides</a></li>
  <li><a href="https://glowing-giggle-pj76vq4p599gc55p-4567.app.github.dev/dice/2/6">2 times of 6 sides</a></li>
  <li><a href="https://glowing-giggle-pj76vq4p599gc55p-4567.app.github.dev/dice/1/20">1 time 20 sides</a></li>
  </ul>
