<!DOCTYPE HTML>
<HTML>
<head>
  <title> Dice Roll!!!!!!! </title>

  <style>
  .navbar{
   display: flex;
   justify-content: space-between;
  }
  </style>

</head>


<body>


<h1> Dice Roll!!!!!!!!! </h1>
<div class="navbar">
  <div><a href="https://glowing-giggle-pj76vq4p599gc55p-4567.app.github.dev/">HOME</a></div>
  <div><a href="https://glowing-giggle-pj76vq4p599gc55p-4567.app.github.dev/dice/2/10">2 times of 10 sides</a></div>
  <div><a href="https://glowing-giggle-pj76vq4p599gc55p-4567.app.github.dev/dice/2/6">2 times of 6 sides</a></div>
  <div><a href="https://glowing-giggle-pj76vq4p599gc55p-4567.app.github.dev/dice/1/20">1 time 20 sides</a></div>
  <div><a href="https://glowing-giggle-pj76vq4p599gc55p-4567.app.github.dev/dice/5/25">5 times 25 sides</a></div>
   <div><a href="https://glowing-giggle-pj76vq4p599gc55p-4567.app.github.dev/dice/1/100">one hundred</a></div>
</div>

<%= yield %>

</body>
</html
